/.direnv
/.pre-commit-config.yaml
/.pre-commit-config-nix.yaml
/dump.rdb
/plans/
/secrets/.conform*

__pycache__/
*.pyc
result
.antigravity

.antigravitycli

sessions

.playwright-mcp

config
metadata
